<% if @course.errors.any? %>
  <div id="error_explanation">
    <h1>
      <%= pluralize(@course.errors.count, "error") %> prohibited your from registrating!
    </h1>

    <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h1 class="text-center">You have been successfully registered!</h1>
<% end %>

<div class="text-center">
  <%= link_to 'Back to course', :back, class: 'btn btn-primary' %>
</div>
