#login-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-field-cluster {
  margin-bottom: 5px;
} 

.form-spacing {
  margin: 5px 0;
}

.form-auxillary-button {
  @extend .form-spacing;
  width: 49%;
}

#sign-up-button {
  @extend .form-auxillary-button;
  float: right;
}

#forgot-password-button {
  @extend .form-auxillary-button;
  float: left;
}

.edit-user-decluster {
  margin-bottom: 10px;
}
